# macOS Finder and Desktop Services files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*


# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Recycle Bin used on file shares
.Trash-*
# remove class files
*.class