:root
{
    --primary-color:#8cbcb4;
    --secondary-color: #989cb0;
    --third-color:#528479;
    --complementary-color:#24515f;
}

#main
{
    background-color: var(--complementary-color);
    -fx-background-color: var(--complementary-color);
}
#secondLoc
{
    background-color: var(--secondary-color);
    -fx-background-color: var(--secondary-color);
}
#primaryLoc
{
    background-color: var(--primary-color);
    -fx-background-color: var(--primary-color);
}
#bar
{
    background-color: var(--third-color);
    -fx-background-color: var(--third-color);
}

