/* :root
{
    --primary-color:#8cbcb4;
    --secondary-color: #989cb0;
    --third-color:#528479;
    --complementary-color:#24515f;
} */

#main
{
    background-color: #24515f;
    -fx-background-color: #24515f;
}
#secondLoc
{
    background-color: #989cb0;
    -fx-background-color: #989cb0;
}
#primaryLoc
{
    background-color: #8cbcb4;
    -fx-background-color:#8cbcb4;
}
#bar
{
    background-color: #24515f;
    -fx-background-color: #24515f;
}
#logbtn
{
    background-color:#8e91a2;
    -fx-background-color:#8e91a2;
}

